celery==4.3.0
django-celery-results==1.0.1
django-celery-beat==1.5.0
django-cors-headers==2.2.0
django==2.0.4

raven==6.9.0
crypto==1.4.1
Jinja2==2.10.1
pycryptodome==3.6.6
psutil==5.7.0

numpy==1.19.0
scipy==1.1.0
six==1.11.0
pandas==1.0.1

tqdm==4.41.1

